
.circle {
  // width: $circle-size;
  // height: $circle-size;
  border-radius: 50%;
  background-color: white;
  border: black solid 4px;
  position: absolute;
  transition: height 2s,width 2s, left 2s, right 2s,top 2s, transform 2s;
  &:hover{
    .connector {
      visibility: visible;
    }
  }
}

.--circle_bigger {
  width: 100px;
  height: 100px;
}

.edge {
  outline: black solid 2px;
  position: absolute;
  height: 4px;
  width: 4px;
}

.connector{
  position: absolute;
  width: $circle-size;
  height: $circle-size;
  background-color: black;
  z-index: 1;
  border-radius: 50%;
  visibility: hidden;
  &:hover{
    visibility: visible;
    cursor: pointer;
  }
}